 <link rel="stylesheet" href="/css/user_profile.css">

    <h1>BeSocial <%= title%></h1>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>

    <%if(user.id == profile_user.id) {%>
    <form action="/users/update/<%= profile_user.id%>" method="POST">
        <h3>Update Details</h3>
        <input type="text" name="name" placeholder="new Name">
        <input type="hidden" name="email" value="<%=profile_user.email%>">
        <input type="submit">
    </form>
    <%}%>